<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <link rel="stylesheet" href="./css/style.css" />
    <title>BOOLZAP</title>
</head>

<body>

    <div id="app" class="bg-app py-4">

        <main class="app-body">

            <div class="container py-3 app-container">

                <div class="row flex-nowrap" style="height: 100%;">

                    <!-- sidebar -->

                    <div class="side-bar">
                        <div class="header-side-bar">
                            <div class="img-container">
                                <img src="Immagini/avatar_io.jpg" alt="...">
                            </div>
                            <div class="avatar-name text-dark">
                                Sofia
                            </div>
                            <div class="d-flex icon-side">
                                <button class="btn-link">
                                    <i class="fa-solid fa-circle-notch"></i>
                                </button>
                                <button class="btn-link">
                                    <i class="fa-solid fa-message"></i>
                                </button>
                                <button class="btn-link">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>
                            </div>
                        </div>

                        <div class="icon-side-bar d-flex align-items-center" style="gap: 5px;">
                            <div class="col-3  d-flex align-items-center justify-content-center ">
                                <i class="fa-solid fa-bell-slash icon-blue"></i>
                            </div>
                            <div class="col">
                                <div>
                                    Ricevi notifiche di nuovi messaggi
                                </div>
                                <div class="small">
                                    <a href="#">
                                        Attiva notifiche desktop
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="body-side-bar">
                            <div class="row m-0" style="width: 100%;">

                                <div class="input-group flex-nowrap py-2" style="background-color:#fafafa;">
                                    <span class="input-group-text" id="addon-wrapping">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat"
                                        aria-label="Username" aria-describedby="addon-wrapping" 
                                        v-model="search">
                                </div>

                                <ul class="contact-list py-2 px-0 bg-light mb-0">
                                    <div class="bg-hover">
                                        <li class=" d-flex align-items-center justify-content-center gap-2 p-2 "
                                            v-for="(singleContact, i) in contatti" @click="changeChat(i)"
                                            :class=" (currentIndex === i ? 'selected-contact' : '')">

                                            <div class="contact-search"
                                            >
                                            </div>

                                            <div class="col-3  " style="aspect-ratio: 1/1;">
                                                <img :src="`./immagini/avatar${singleContact.avatar}.jpg`" alt=""
                                                    style="width: 100%; border-radius: 50%;">
                                            </div>
                                            <div class="col-7">
                                                <h6>
                                                    {{singleContact.name}}
                                                </h6>
                                                <div class="small">
                                                    Ultimo messaggio inviato
                                                </div>
                                            </div>
                                            <div class="small">
                                                12.00
                                            </div>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <!-- main app -->
                    <div class="main-app-body d-flex flex-column p-0">

                        <div class="header-app align-items-center" :class="(currentIndex === i ? 'd-flex' : '')"
                            v-for="(singleContact, i) in contatti" v-show="(currentIndex === i)">
                            <div class="img" style="max-width: 10.5%; ">
                                <img :src="`./immagini/avatar${singleContact.avatar}.jpg`" alt=".." style="width: 100%; border-radius: 50%;">
                            </div>
                            <div class="avatar-name text-dark flex-grow-1">
                                {{singleContact.name}}
                                <div class="small">
                                    Ultimo accesso alle {{currentDate()}}
                                </div>
                            </div>
                            
                            <div class="d-flex icon-side">
                                <button class="btn-link">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                                <button class="btn-link">
                                    <i class="fa-solid fa-paperclip"></i> </button>
                                <button class="btn-link">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>
                            </div>

                        </div>

                        <div class="body-app flex-grow-1" style="background-image: url(./Immagini/mine.jpg);">

                            <div class="messaggio-container"
                            v-for="(singleContact, i) in contatti[currentIndex].messages">

                                <div class="mx-5 my-3 py-2 px-3" :class="(singleContact.status)">
                                    <div>
                                        <div>{{singleContact.message}}</div>
                                        <div class="font-small">{{singleContact.date}}</div>
                                        <i class="fas fa-chevron-down" ></i>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="footer-app d-flex gap-3 p-2 align-items-center ">
                            <button class="btn-link border-0">
                                <i class="fa-regular fa-face-smile"></i>
                            </button>
                            <div class="input-group"
                            @keyup.enter="invioMessaggio(i)">
                                <input type="text" class="form-control" placeholder="Scrivi un messaggio" aria-label="Username"
                                    aria-describedby="basic-addon1" 
                                    v-model="newMessage.message">
                            </div>
                            <button class="btn-link border-0">
                                <i class="fa-solid fa-microphone"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="js/main.js"></script>
</body>

</html>